.ActivityCardContainer {
  background-color: #d96c47;
  border-radius: 1em;
  width: 300px;
  opacity: 0.9;
}

.ActivityCardContainer > * {
  padding: 2em;
}

.ActivityCardContainer:hover {
  cursor: pointer;
  opacity: 1.1;
}

.ActivityCardImgContainer {
  position: relative;
  padding: 1.5em;
}

.ActivityCardImg {
  position: absolute;
  right: 1em;
  top: -0.5em;
}

.ActivityContainer {
  position: relative;
  background-color: hsl(235, 46%, 20%);
  border-radius: 1em;
}

.ActivityContainerHeadRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  align-items: center;
}

.ActivityContainerHeadRow > img:hover {
  cursor: pointer;
}

.ActivityCardImgContainer {
  position: relative;
  /*opacity: 0.15;*/
  opacity: 1;
  padding: 1.5em;
  overflow: hidden;
}

.ActivityCardImg {
  position: absolute;
  right: 1em;
  top: -0.5em;
}

.Head4 {
  font-size: 4.125em;
  margin-bottom: 0.125em;
}

.Head2 {
  color: hsl(236, 100%, 87%);
}

.Head1 {
  word-break: break-word;
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 600px) {
  .ActivityCardContainer {
    flex-grow: 1;
  }
  .Head4 {
    font-size: 2em;
    margin-bottom: 0.125em;
  }
  .ActivityContainerHeadRow {
    margin-bottom: 0.25em;
  }
  .AmountHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
