.App {
  display: flex;
  justify-content: center;
  gap: 2em;
  max-width: 1260px;
  margin: 10em auto;
}

.Head4 {
  font-size: 66px;
  margin-bottom: 0.125em;
}

.Head2 {
  color: hsl(236, 100%, 87%);
}

.Head1 {
  word-break: break-word;
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 600px) {
  .App {
    margin: 1.5em;
    flex-direction: column;
  }
}
